@model  WhatsLeft.Models.FundViewModel



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.Balance)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Balance)
        @Html.ValidationMessageFor(model => model.Balance)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

