@model  WhatsLeft.Models.BankAccountsViewModel

<table id="productTable" class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Balance
        </th>
    </tr>

    @foreach (var account in Model.BankAccounts)
    {
        <tr>
            <td>
                <strong>
                    @Html.DisplayFor(modelItem => account.Name)
                </strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => account.Balance)
            </td>
        </tr>
        foreach (var fund in account.Funds)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fund.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fund.Balance)
                </td>
            </tr>
        }

        <tr>
            <td>

                @Html.ActionLink("Add a new fund", "CreateFund", new { id = account.Id })
            </td>
        </tr>

    }
</table>


<p>
    @Html.ActionLink("Add a new account", "CreateAccount")
</p>



