@model  WhatsLeft.Models.BankAccountsViewModel

<table id="productTable" class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Balance
        </th>
    </tr>

    @foreach (var account in Model.BankAccounts)
    {
        using (Html.BeginForm("Transfer", "WhatsLeft"))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => account.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => account.Balance)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { accountId = account.Id })
                    @Html.ActionLink("Delete", "DeleteAccount", new { accountId = account.Id }, new { @class = "DeleteAccountLink" })
                </td>
            </tr>
        
        }
    }
</table>


<p>
    @Html.ActionLink("Add a new account", "CreateAccount")
</p>

<script src="@Url.Content("~/Scripts/whatsleft.js")" type="text/javascript"></script>

