@model  List<WhatsLeft.Models.Home.IndexViewModel>

<table id="productTable" class="table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Balance
            </th>
            <th>
                What's Left?
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => account.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => account.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => account.WhatsLeft)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { accountId = account.Id })
                    @Html.ActionLink("Delete", "Delete", new { accountId = account.Id }, new { @class = "DeleteLink" })
                </td>
            </tr>

        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Add a new account", "Create")
</p>


